@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lora:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Lora", sans;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container{
    margin: 0 auto;
    width: 970px;
}

.header{
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.header .nav-list{
    display: flex;
}

.header .nav-list .nav-link{
    text-decoration: none;
    color: #555;
    font-size: 12px;
    margin-right: 10px;
}

.header .nav-list .nav-link:hover{
    color: #000;
}

.main-header{
    margin: 40px 0;
}

.main-header .title{
    font-size: 26px;
    font-family: 'Dela Gothic One', cursive;
    letter-spacing: 1px;
    display: flex;
    align-items: flex-end;
    color: #000;
    text-decoration: none;
}

.main-header .title::after{
    content: "";
    background: #F47E00;
    width: 7px;
    height: 7px;
    display: block;
    border-radius: 50%;
    margin-left: 5px;
}

.post{
    margin-bottom: 30px;
}

.post .post-image-wrapper{
    height: 400px;
    overflow: hidden;
}


.post .post-image-wrapper .post-image{
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: all 1s;
}

.post .post-image-wrapper .post-image:hover{
    transform: scale(1.2);
}

.post .post-title{
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 15px 0;
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.post .post-excerpt{
    font-size: 14px;
    margin-bottom: 15px;
}

.post .read-more{
    border: 1px solid #f47e00;
    border-radius: 30px;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    transition: all 0.2s;
}

.post .read-more:hover{
    color: #fff;
    background: #f47e00;
}

.comment-form{
    padding: 30px 0;
    border-top: 1px dotted #ddd;
}

.comment-form .leave-comment{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 20px;
}

.comment-form .email-info{
    font-size: 13px;
    color: #575757;
    font-weight: 600;
    margin-bottom: 20px;
}

.comment-form .input{
    width: 100%;
    padding: 10px;
    border: 2px solid #e2e2e2;
    outline: transparent;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 12px;
}

.comment-form .input.error{
    border-color: #BB2124;
}

.comment-form .input-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}

.comment-form .submit{
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 10px 20px;
    background: #fff;
    font-size: 14px;
    color: #000;
    transition: all 0.2s;
    cursor: pointer;
}

.comment-form .submit:hover{
    background: #ddd;
}

.comment-form .info{
    padding: 15px;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 20px;
}

.comment-form .info.error{
    background: #BB2124;
}

.comment-form .info.success{
    background: #22BB33;
}

.no-comments{
    padding-top: 30px;
    border-top: 1px dotted #ddd;
    margin-bottom: 30px;
    font-size: 24px;
}

.no-comments .sub{
    font-size: 14px;
    margin-top: 20px;
}

.comment-list{
    padding-top: 30px;
    border-top: 1px dotted #ddd;
}

.comment-list .comment{
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start;
}

.comment-list .comment .avatar{
    border-radius: 50%;
}

.comment-list .comment .content-wrapper{
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #ececec;
}

.comment-list .comment .author{
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 10px;
}

.comment-list .comment .date{
    font-size: 12px;
    color: #acabab;
    margin-bottom: 10px;
    display: block;
}

.comment-list .comment .content{
    font-size: 14px;
    line-height: 20px;
}